# Activer la réécriture d'URL
RewriteEngine On

# Condition pour ignorer les fichiers et dossiers existants
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rediriger toutes les autres requêtes vers index.html
RewriteRule ^(.*)$ /index.html [L]
