section.about-hero{
    padding: var(--sp-32) 0 var(--sp-56) 0;
    display: flex;
    flex-direction: column;
    gap: var(--sp-32);
}

section.about-hero p{
padding-left: 21%;
}

section.about div.frame{
    display: flex;
    flex-direction: column;
    gap: var(--sp-52);
}

section.about .photo-container img{
    display: block;
    padding-left: 10%;
    width: 100%;
}

section.about-text{
    display: flex;
    flex-direction: column;
    gap: var(--sp-24);
    padding-bottom: var(--sp-56);
}

section.about-text p{
    text-transform: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.75rem;

}

@media (min-width: 768px){

    section.about div.frame{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 32px;
        margin-bottom: var(--sp-92);
    }

    section.about-hero{
        padding: var(--sp-56) 0;
        gap: var(--sp-92);
    }
    section.about-hero p{
        font-size: var(--fs-md);
        width: 80%;
        padding-left: 17%;
    }

    section.about-text p{
        padding: 0 var(--sp-12);
    }

    section.about div.frame img{
        display: block;
        width: 100%;
        object-fit: cover;
    }

    .about .photo-container{
        width: 45%;
    }

    .about .about-text{
        margin-top: var(--sp-150);
        margin-left: 16.5%;
        /* width: 37rem; */
        width: 33%;
    }

    .about .contact-frame{
        padding: var(--sp-56) 0 var(--sp-92) 0;
    }

}