section.home-hero{
    padding: var(--sp-32) 0 var(--sp-56) 0;
    display: flex;
    flex-direction: column;
    gap: var(--sp-24);
}

.home-hero h3{
    font-size: var(--fs-lg);
    font-weight: 800;
}

.home-hero p.school{
    font-size: var(--fs-base);
    font-weight: 800;
    text-align: end;
}

section.home-projects{
    padding: var(--sp-56) 0;
    display: flex;
    flex-direction: column;
    gap: var(--sp-36);
}

section.home-projects h2{
    text-align: end;
}

section.home-projects h3.project-name{
    font-size: var(--fs-lg);
    font-weight: 800;
}

.home-more-projects {
    display: flex;
    justify-content: center;   
}

.home-more-projects a{
    text-decoration: underline
}

section.home-projects a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--color-font);
}

section.home-projects .project-arrow{
    height: var(--sp-36);

}

section.home-projects ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

section.home-projects ul li{
    padding: var(--sp-16) 0;
    border-top: 1px solid black;
}
section.home-projects ul li:last-child{
    border-bottom: 1px solid black;
}

.homepage div.project-info{
    display: flex;
    flex-direction: column;
    gap: var(--sp-4);
}

.homepage div.project-info p{
    font-size: var(--fs-sm);
}

section.contact-frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--sp-32);
    padding-bottom: var(--sp-56);
}

section.contact-frame h2{
    text-align: center;
    word-break: keep-all;
    /* font-size: var(--fs-xl); */
}

section.contact-frame a{
    color: var(--color-font);
    font-size: var(--fs-base);
    font-size: var(--fs-md);
    text-align: center;
}

section.home-projects ul li {
    position: relative;
}

.homepage .hover-img {
    position: absolute;
    top:20%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 30vw; 
    height: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s cubic-bezier(0.33, 1, 0.68, 1); 
    z-index: 2; 
}

.homepage .img-fluid {
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

@media (min-width: 768px){
    section.home-presentation{
        max-width: 1000px
    }

    section.home-presentation p{
        line-height: 2rem;
        font-size: var(--fs-base);
        font-weight: 500;
        letter-spacing: 2px;
    }

    .homepage div.project-info p{
        font-size: var(--fs-base);
    }
    
    section.home-projects{
        padding: var(--sp-92) 0;
    }
    section.home-hero{
        padding: var(--sp-56) 0;
        gap: var(--sp-32);
    }
    .home-hero h3{
        padding-bottom: var(--sp-16);
    }

    .homepage ul li:hover .hover-img {
        opacity: 1;
        transition: opacity 0.6s cubic-bezier(0.33, 1, 0.68, 1); 

    }

    .homepage .hover-img {
        width: 25vw;
    }

    .homepage ul li{
        transition: padding 0.6s cubic-bezier(0.33, 1, 0.68, 1);
    }

    .homepage ul li:hover{
        padding: var(--sp-32) 0;
    }


}