.single-project h1{
    font-size: var(--fs-xxxl);
}

.single-project h2{
    font-size: var(--fs-xxl);
}

.single-project section.project-presentation-hero{
    display: flex;
    padding: var(--sp-24) 0;
    flex-direction: column;
    gap: var(--sp-24);
}

.single-project section.project-presentation-hero img.project-mockup{
    display: block;
    width: 100%;
}

.single-project .project-info ul li{
    display: flex;
    flex-direction: row;
    gap: var(--sp-4);
    padding: var(--sp-16) 0;
    border-top: 1px solid var(--color-font);
}

.single-project .project-info ul li:last-child{
    border-bottom: 1px solid var(--color-font);
}

.single-project .project-link{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: var(--sp-24);
}

.single-project .project-presentation{
    padding: var(--sp-32) 0;
}

.single-project .project-presentation .showcase-images{
    display: flex;
    flex-direction: column;
    gap: var(--sp-16);
    padding-top: var(--sp-40);
}

.single-project .project-presentation img{
    display: block;
    max-width: 100%;
}


.single-project .project-presentation .context{
    display: flex;
    flex-direction: column;
    gap: var(--sp-12);
}

.



@media (min-width: 768px){
    .single-project section.project-presentation-hero img.project-mockup{
        max-width: 600px;    
    }

    .single-project .project-info{
        display: grid;
        grid-template-columns: 60% auto;
    }
    
}