footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: var(--sp-32) var(--sp-8);
}

footer a{
    color: var(--color-font);
    font-size: var(--fs-base);
}

footer .logo-footer{
    font-weight: 800;
}

section.contact-frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--sp-32);
    padding-bottom: var(--sp-56);
}

section.contact-frame h2{
    text-align: center;
    word-break: keep-all;
    font-size: var(--fs-xxl);
}

section.contact-frame a{
    color: var(--color-font);
    font-size: var(--fs-base);
    font-size: var(--fs-md);
    text-align: center;
    text-decoration: underline;
}

footer div.footer-socials{
    display: flex;
    flex-direction: column;
    gap: var(--sp-8);
}

@media (min-width: 768px){
    footer{
        padding: var(--sp-52);
    } 
    section.contact-frame h2{
        font-size: var(--fs-xxl);
    }
    section.contact-frame{
        padding-top: var(--sp-120);
    }


}