header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

header a:not(.logo){
  display: none;
}

.logo {
  font-size: var(--fs-base);
  font-weight: 900;
  text-align: center;
  text-decoration: none;
}

header a {
  text-decoration: none;
  color: var(--color-font);
}

.mobile-navbar {
  display: none;
}

.mobile-navbar.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background-color: var(--color-bg);
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
  width: 100%;
  height: 100%;
  z-index: 110;
  padding: 0 var(--sp-8);
}

nav ul {
  list-style: none;
  padding: 0;
}


.navbar-toggle {
  cursor: pointer;
}

svg {
  display: block;
}

img.menu-button{
  height: var(--sp-36);
}

nav.mobile-nav{
  display: flex;
  flex-direction: column;
  gap: var(--sp-24);
  padding-top: 20%;
}
nav.mobile-nav ul{
  display: flex;
  flex-direction: column;
  gap: var(--sp-24);
}

nav.mobile-nav a{
  font-size: var(--fs-xl);
  color: var(--color-font);
  font-weight: 800;
}

.mobile-nav-overlay{
  width: 100%;
}

.mobile-nav-overlay span.navbar-toggle{
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

  
  
  /* Styles pour les écrans plus grands */
  @media (min-width: 768px) {
    header {
      flex-direction: row;
      justify-content: space-between;
    }
    
    header a:not(.logo){
      display: flex;
      font-weight: 600
    }
  
    nav {
      display: flex;
      flex-direction: row;
    }
  
    nav ul {
      display: flex;
      gap: var(--sp-12);
    }
  
    nav ul li {
      margin: 0;
    }
  
    .navbar-toggle {
      display: none;
    }

  }