:root {

  /* ____   Font Size  _____*/
  --fs-sm: clamp(12px, -0.03vi + 12.12px, 11.74px);
  --fs-base: clamp(16px, 0.34vi + 14.64px, 19px);
  --fs-md: clamp(21.33px, 1.07vi + 17.05px, 30.74px);
  --fs-lg: clamp(28.43px, 2.42vi + 18.74px, 49.74px);
  --fs-xl: clamp(37.9px, 4.84vi + 18.54px, 80.48px);
  --fs-xxl: clamp(50.52px, 9.06vi + 14.29px, 130.22px);
  --fs-xxxl: clamp(67.34px, 16.29vi + 2.18px, 210.69px);

  /*____ Colors   ____ */
  --color-bg: #EFF1F0;
  --color-font: #1D1D1B;

  /*____ Spacing  ____*/
  --sp-2: 0.125rem;
  --sp-4: 0.25rem;
  --sp-8: 0.5rem;
  --sp-12: 0.75rem;
  --sp-16: 1rem;
  --sp-24: 1.5rem;
  --sp-28: 1.75rem;
  --sp-32: 2rem;
  --sp-36: 2.25rem;
  --sp-40: 2.5rem;
  --sp-44: 2.75rem;
  --sp-48: 3rem;
  --sp-52: 3.25rem;
  --sp-56: 3.5rem;
  --sp-60: 3.75rem;
  --sp-64: 4rem;
  --sp-68: 4.25rem;
  --sp-72: 4.5rem;
  --sp-76: 4.75rem;
  --sp-80: 5rem;
  --sp-84: 5.25rem;
  --sp-88: 5.5rem;
  --sp-92: 5.75rem;
  --sp-96: 6rem;
  --sp-100: 6.25rem;
  --sp-104: 6.5rem;
  --sp-108: 6.75rem;
  --sp-112: 7rem;
  --sp-116: 7.25rem;
  --sp-120: 7.5rem;
  --sp-124: 7.75rem;
  --sp-128: 8rem;
}

@font-face {
  font-family: 'Geist';
  src: url('./assets/font/GeistVF.woff2') format("truetype-variations");
  font-weight: 1 999;
}

*{
  margin: 0;
  padding: 0;
}

body{
font-family: Geist;
box-sizing: border-box;
text-transform: uppercase;
color: var(--color-font);
background: var(--color-bg);
padding: 0 var(--sp-8);
font-weight: 600;
}

h1{
  font-weight: 900;
  font-size: var(--fs-xxxl);
}

h2{
  font-size: var(--fs-xxl);
  font-weight: 900;
}

a{
  text-decoration: none;
  color: var(--color-font);
}


@media (min-width: 768px){
  body{
    padding: 0 var(--sp-24);
  }
}